# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo

# Project specific data that might shouldn't be tracked
# Data/ChatLog.json
# Frontend/Files/
